.player {
    width: 2%;
    height: 4%;
    border-radius: 40px;
    position: absolute;
}

#playerOne {
    background-color: black;
    left: 98.6%;
    top: 20%;
    border-top-left-radius: 0px;
}

#playerTwo {
    background-color: white;
    left: 80%;
    top: 96.8%;
    border-bottom-right-radius: 0px;
}